'global':
	'core':
		'themes': [
			'solarized-dark-ui'
			'solarized-dark-syntax'
		]
	'welcome':
		'showOnStartup': false
	'linter':
		'showErrorInline': true
	'editor':
		'invisibles': {}
		'softWrap': true
	'linter-jshint': {}
	'linter-jsxhint': {}
	'todo-show':
		'ignoreThesePaths': [
			'/node_modules/'
			'/bower_components/'
			'/packages/'
		]
	'atom-beautify':
		'js_indent_with_tabs': true
		'js_jslint_happy': true
	'coffee-refactor': {}
	'es-navigation': {}
	'fuzzy-finder': {}
	'git-diff':
		'showIconsInEditorGutter': true
	'git-history': {}
	'linter-coffeelint': {}
	'markdown-preview': {}
	'merge-conflicts':
		'gitPath': '/usr/bin/git'
	'minimap':
		'autoToggle': false
	'tabs-to-spaces':
		'onSave': 'tabify'
'.coffee.jsx.source':
	'editor':
		'autoIndentOnPaste': true
